<h1>Locations</h1>
<%= link_to "Add a Location", new_location_path %>
<% if @locations.any? %>
<% else %>
<p>No locations yet.</p>
<% end %>
<div class="locations">
  <%= render partial: "location_index", collection: @locations, as: :location %>
</div>
